{% extends 'base.html' %}

<!--Título-->
{% block title %}Home{% endblock %}

<!--Conteúdo-->
{% block content %}

<!--Título e Logo-->

    
<div>
  
</div>            




<!--Subtítulo-->

<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid">
        
  <div class="col-lg-5">
 
  <h1 class="font-weight-light" style="color: rgb(4,167,34);text-align:center">
    Sejam Bem vindos à <br> Numbs by Linkin Park!</h1>
  
</div>
<div class="col-lg-5"><img class="img-fluid rounded pb-4 mb-lg-0" style="margin-left:9%;" src="/static/images/papercut.jpeg" alt="..." height="250px" width="250px" /></div>
</div>

    <p class="font-weight-light text-center container-fluid" style="color: rgb(255, 255, 255);font-size: 26px;align;text-align: center;">Queridos LPSoldiers, sejam bem-vindos à casa dos fãs de Linkin Park!<br> Entre e mergulhe no mundo da banda que marcou gerações com sua música única e poderosa.</p>

</div>

</div>
<!--Carrossel-->
<style>
    .carousel-item img {
      max-width: 500px; /* Define a largura máxima */
      height: auto; /* Mantém a proporção da imagem */
      margin: auto; /* Centraliza a imagem horizontalmente */
    }
  </style>
  
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/images/Home0.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/images/Home1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/images/Home2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/images/Home3.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/images/Home4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/images/Home5.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/images/Home6.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/images/Home7.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/images/Home8.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/images/Home9.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<br>
<p class="font-weight-light text-center container-fluid" style="color: rgb(255, 255, 255);font-size: 18px;">Veja acima algumas imagens da banda Linkin park


  <div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid">
        
    <div class="col-lg-5">
   
    <p class="font-weight-light" style="font-size: 20px;text-align: justify-self: unset;; color: white;">
      Descubra a essência do Linkin Park: uma jornada musical que transcende gêneros e gerações. Navegue pela sua discografia icônica, mergulhe nas letras que ecoam verdades universais e explore nossa resenha pessoal, revelando os momentos que moldaram nossa história. Bem-vindo à página central do Linkin Park, onde cada acorde conta uma história e cada verso ressoa com autenticidade!
    
</div>
<!-- foto -->
<div class="card" style="width:400px">
  <img class="card-img-top" src="/static/images/chesterbenington.jpg" alt="Card image">
  
  </div>
</div>

<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid">
        
  <div class="col-lg-5">
 
  <p class="font-weight-light" style="color:white;margin-left: 50px;font-size: 20px; text-align:center">
    Essa página é dedicada ao eterno ídolo Chester Bennington
  {% endblock %}